*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
select,
textarea {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}
