/* screen - about */

.about {
  background-color: var(--old-lace);
  min-height: 959px;
  min-width: 440px;
  position: relative;
  width: 100%;
}

.about .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 48px;
  position: absolute;
  top: 101px;
  width: 344px;
}

.about .about-1 {
  align-self: stretch;
  letter-spacing: 0.70px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.about .text-35 {
  letter-spacing: 1.80px;
  line-height: normal;
  margin-left: -30.00px;
  margin-right: -30.00px;
  position: relative;
  text-align: center;
  width: 404px;
}

.about .component-1 {
  height: 159px;
  left: 71px;
  position: absolute;
  top: 294px;
  width: 302px;
}

.about .frame-72 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 94.22%;
  left: 0;
  position: absolute;
  top: 3.14%;
  width: 100%;
}

.about .rectangle-9 {
  height: 45px;
  width: 182px;
}

.about .rectangle-10 {
  align-self: stretch;
  height: 44.41px;
  width: 100%;
}

.about .rectangle-11 {
  height: 44.41px;
  width: 235.45px;
}

.about .text-36 {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 26.8px;
  font-weight: 700;
  height: 100%;
  left: 3.32%;
  letter-spacing: 1.34px;
  line-height: 52.7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 93.19%;
}

.about .text-37 {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-s);
  font-weight: 500;
  left: calc(50.00% - 195px);
  letter-spacing: 0.70px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 469px;
  width: 396px;
}

.about .text-38 {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  left: calc(50.00% + 39px);
  letter-spacing: 0.50px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 804px;
  white-space: nowrap;
}

.about .group-29 {
  display: flex;
  flex-direction: column;
  height: 230px;
  left: 55px;
  position: absolute;
  top: 574px;
  width: 330px;
}

.about .frame-78 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: space-around;
  padding: 17px 39px 17px 85px;
  position: relative;
  width: 330px;
}

.about .frame-74 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--international-orange);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 63px;
  left: -2px;
  padding: 17px 31px;
  position: absolute;
  top: -2px;
  width: 333px;
}

.about .x1 {
  background-image: url(../img/vector-14.svg);
  height: 26px;
  width: 30px;
}

.about .text-39 {
  letter-spacing: 0.90px;
  line-height: 25px;
  margin-right: -1.00px;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.about .frame-77 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: space-around;
  margin-top: 14px;
  padding: 17px 80px 17px 85px;
  position: relative;
  width: 330px;
}

.about .frame-73 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--international-orange);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 63px;
  left: -2px;
  padding: 16px 31px;
  position: absolute;
  top: -2px;
  width: 333px;
}

.about .x1-1 {
  background-image: url(../img/vector-15.svg);
  height: 27px;
  width: 31px;
}

.about .iso22000 {
  letter-spacing: 0.90px;
  line-height: 25px;
  margin-right: -1.00px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about .span0 {
  letter-spacing: 0.16px;
}

.about .span1 {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0.05px;
}

.about .frame-76 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 84px;
  justify-content: space-around;
  margin-top: 12px;
  padding: 17px 20px 17px 84px;
  position: relative;
  width: 330px;
}

.about .text-40 {
  letter-spacing: 0.90px;
  line-height: 25px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.about .frame-75 {
  align-items: flex-start;
  border: 3px solid;
  border-color: var(--international-orange);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 87px;
  left: -2px;
  padding: 29px 30px;
  position: absolute;
  top: -2px;
  width: 333px;
}

.about .x1-2 {
  background-image: url(../img/vector-16.svg);
  height: 26.0px;
  width: 32.0px;
}

.about .logo {
  aspect-ratio: 1.84;
  height: 63px;
  left: calc(50.00% - 58px);
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 215px;
  width: 116px;
}

.about .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.about .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.about .view {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.about .text-41 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about .vector-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.about .text-42 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}

.about .rectangle {
  background-color: var(--white);
  position: relative;
}

.about .x1-3 {
  background-size: 100% 100%;
  position: relative;
}
