/* screen - cta */

.cta.screen {
  background-color: var(--old-lace);
  min-height: 959px;
  min-width: 440px;
  position: relative;
  width: 100%;
}

.cta .group-34 {
  height: 864px;
  left: 21px;
  position: absolute;
  top: -63px;
  width: 398px;
}

.cta .rectangle-12 {
  background-color: var(--white);
  height: 521px;
  left: 0;
  position: absolute;
  top: 343px;
  width: 398px;
}

.cta .adobe-stock_1035255960-2 {
  aspect-ratio: 1;
  height: 398px;
  left: calc(50.00% - 199px);
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 398px;
}

.cta .frame-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: calc(50.00% - 161px);
  position: absolute;
  top: 707px;
  width: 322px;
}

.cta .frame-23 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.cta .frame-22-1 {
  position: relative;
  width: 21.38px;
}

.cta .text-1 {
  color: var(--eerie-black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.90px;
  line-height: 31.5px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

/* === Product Cards (2-column layout) === */

.cta .products {
  display: flex;
  gap: 16px;
  justify-content: center;
  position: absolute;
  top: 386px;
  left: 0;
  width: 100%;
  padding: 0 36px;
  box-sizing: border-box;
}

.cta .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 171px;
}

.cta .product-card__image {
  aspect-ratio: 0.56;
  height: 228px;
  width: 127px;
  object-fit: cover;
}

.cta .product-card__badge {
  position: relative;
  width: 91px;
  height: 52px;
  margin-top: -40px;
  align-self: flex-start;
}

.cta .product-card__badge-bg {
  width: 100%;
  height: 100%;
}

.cta .product-card__badge-text {
  position: absolute;
  top: 45%;
  left: 38%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  letter-spacing: -0.12px;
  line-height: normal;
}

.cta .product-card__badge-text small {
  font-size: 8.2px;
  letter-spacing: -0.07px;
}

.cta .product-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 171px;
  height: 43px;
  border-radius: 49px;
  margin-top: 10px;
}

.cta .product-card__button--chicken {
  background-color: var(--cerise);
}

.cta .product-card__button--fish {
  background-color: var(--lochmara);
}

.cta .product-card__button-text {
  color: var(--white);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 12.2px;
  font-weight: 900;
  letter-spacing: 0.61px;
  line-height: normal;
  text-align: center;
}

.cta .product-card__button-arrow {
  height: 11px;
  width: 6px;
}

.cta .frame-81 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 76px;
  position: absolute;
  top: 233px;
  width: 296px;
}

.cta .frame-24 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  justify-content: center;
  position: relative;
}

.cta .group-4 {
  height: 32.17px;
  position: relative;
  transform: rotate(180deg);
  width: 19.66px;
}

.cta .line-2 {
  height: 32px;
  left: calc(50.00% - 11px);
  top: 1px;
  width: 18px;
}

.cta .line-3 {
  height: 14px;
  left: calc(50.00% - 2px);
  top: 4px;
  width: 11px;
}

.cta .text-6 {
  color: var(--international-orange);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 16.1px;
  font-weight: 700;
  letter-spacing: 0.32px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.cta .group-3 {
  height: 32.17px;
  position: relative;
  width: 19.66px;
}

.cta .line-2-1 {
  height: 32px;
  left: calc(50.00% - 11px);
  position: absolute;
  top: 0;
  width: 18px;
}

.cta .line-3-1 {
  height: 14px;
  left: calc(50.00% - 2px);
  position: absolute;
  top: 15px;
  width: 11px;
}

.cta .x1-2 {
  background-image: url(../img/vector-3.svg);
  background-size: 100% 100%;
  height: 80px;
  position: relative;
  width: 296px;
}

.cta .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.cta .view-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.cta .text-7 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cta .vector-1-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.cta .text-8 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}

.cta .line {
  position: absolute;
  transform: rotate(-180deg);
}
