/* screen - fv */

.fv {
  background-color: var(--bridal-heath);
  min-height: 959px;
  min-width: 440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fv .fv-1 {
  aspect-ratio: 0.46;
  height: 960px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 440px;
}

.fv .line-1 {
  height: 21px;
  left: 50.00%;
  object-fit: cover;
  position: absolute;
  top: 831px;
  width: 1px;
}

.fv .swipe {
  color: #444444;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: calc(50.00% - 21px);
  letter-spacing: 0.80px;
  line-height: normal;
  position: absolute;
  top: 807px;
}

.fv .cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: calc(50.00% - 191px);
  position: absolute;
  top: 644px;
  width: 382px;
}

.fv .frame-55 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 205px;
}

.fv .text-9 {
  align-self: stretch;
  color: var(--international-orange);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 15.4px;
  font-weight: 700;
  letter-spacing: 0.62px;
  line-height: 23.1px;
  margin-top: -0.83px;
  position: relative;
  transform: rotate(-0.10deg);
}

.fv .vector-4 {
  height: 9.83px;
  margin-bottom: -1.33px;
  position: relative;
  width: 205px;
}

.fv .group-24 {
  height: 116.93px;
  position: relative;
  width: 381.89px;
}

.fv .group-8 {
  height: 57px;
  left: 69px;
  position: absolute;
  top: 60px;
  width: 247px;
}

.fv .rectangle-5 {
  background-color: var(--international-orange);
  border-radius: 87.33px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 245px;
}

.fv .vector-1 {
  height: 17px;
  left: 210px;
  position: absolute;
  top: 20px;
  width: 10px;
}

.fv .text-10 {
  color: var(--white);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 21.8px;
  font-weight: 900;
  left: 61px;
  letter-spacing: 1.09px;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.fv .group-23 {
  height: 60px;
  left: calc(50.00% - 191px);
  position: absolute;
  top: 0;
  width: 382px;
}

.fv .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.fv .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.fv .view {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.fv .text-11 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.fv .vector-1-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.fv .text-12 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}
