@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Zen+Maru+Gothic:500,700,900,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/697fee5c6e6f07b85b4be1b9.697fee5d6e6f07b85b4be1bc.awQOEcy.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.span2 {
  color: var(--lochmara);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 8.2px;
  font-weight: 700;
  letter-spacing: -0.10px;
}

.frame-39 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.frame-83 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: flex-end;
  margin-left: -12.50px;
  margin-right: -12.50px;
  position: relative;
}

.mca28-12kg_2800-1-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.frame-57 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame-53 {
  align-items: flex-end;
  display: flex;
  gap: 14px;
  height: 57px;
  position: relative;
  width: 337px;
}

.frame-52 {
  height: 63px;
  margin-top: -6.00px;
  position: relative;
  width: 177px;
}

.frame-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 44px;
  justify-content: flex-end;
  position: relative;
  width: 146px;
}

.frame-38 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8.02px;
  height: 38.24px;
  justify-content: space-around;
  padding: 3px 36.9px 11.23px;
  position: relative;
  width: 100%;
}

.frame-37 {
  align-items: center;
  background-color: var(--international-orange);
  border-radius: 52.14px;
  display: flex;
  gap: 8.02px;
  height: 44px;
  justify-content: flex-end;
  left: 1px;
  padding: 13px 16.04px 14.44px;
  position: absolute;
  top: -6px;
  width: 146px;
}

.rectangle-7 {
  left: calc(50.00% - 509px);
}

.rectangle-6 {
  left: calc(50.00% + 188px);
}