/* screen - honesty */

.honesty {
  background-color: #f5f8f1;
  min-height: 959px;
  min-width: 440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.honesty .frame-44 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 57px;
  position: absolute;
  top: 708px;
  width: 326px;
}

.honesty .slider-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}

.honesty .main_01 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 326px;
  left: 57px;
  padding: 0 18px;
  position: absolute;
  top: 355px;
  width: 326px;
  justify-content: center;
}

.honesty .icon {
  height: 72px;
  position: relative;
  width: 72px;
}

.honesty .h2 {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.honesty .text {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 108px;
  letter-spacing: 0.45px;
  line-height: 23px;
  margin-bottom: -6.00px;
  position: relative;
  text-align: center;
  width: 290px;
}

.honesty .frame-91 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  left: 20px;
  position: absolute;
  top: 101px;
  width: 401px;
}

.honesty .frame-25 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9px;
  position: relative;
  width: 100%;
}

.honesty .honesty-1 {
  align-self: stretch;
  letter-spacing: 0.70px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.honesty .text-29 {
  align-self: stretch;
  color: var(--roman-coffee);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 29px;
  font-weight: 700;
  letter-spacing: -0.58px;
  line-height: 44px;
  position: relative;
  text-align: center;
}

.honesty .frame-35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 59px;
  justify-content: flex-end;
  padding: 0px 3px;
  position: relative;
  width: 286px;
}

.honesty .text-30 {
  color: var(--roman-coffee);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: calc(50.00% - 143px);
  letter-spacing: 0.75px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 286px;
  text-decoration: underline;
  text-decoration-color: #8F8376;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

.honesty .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.honesty .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.honesty .view {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.honesty .text-31 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.honesty .vector-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.honesty .text-32 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}

.honesty .line {
  display: none;
}

/* Carousel cards 2 & 3 */
.honesty .main_02,
.honesty .main_03 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 326px;
  left: 57px;
  padding: 0 18px;
  position: absolute;
  top: 355px;
  width: 326px;
  z-index: 1;
  justify-content: center;
}

.honesty .rectangle {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 326px;
  position: absolute;
  top: 355px;
  width: 326px;
}
