/* === Responsive Scale Transform === */

body {
  margin: 0 !important;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-wrapper {
  position: relative;
  overflow: hidden;
}

.screen {
  min-width: unset !important;
  min-height: unset !important;
  width: 440px !important;
  height: 959px !important;
  position: relative;
  overflow: hidden !important;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
