/* screen - u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 */

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 {
  background-color: var(--bridal-heath);
  min-height: 959px;
  min-width: 440px;
  position: relative;
  width: 100%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .x33594-1 {
  aspect-ratio: 1.5;
  height: 958px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 440px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .group-6 {
  height: 48px;
  left: 51px;
  position: absolute;
  top: 82px;
  width: 339px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .title {
  color: var(--international-orange);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 30px;
  letter-spacing: 0.44px;
  line-height: normal;
  position: absolute;
  top: 0;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .group-5 {
  height: 45px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 337px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .frame-36 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 24px;
  position: absolute;
  top: 128px;
  width: 393px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .adobe-stock_292120451-2 {
  aspect-ratio: 0.77;
  height: 177px;
  object-fit: cover;
  position: relative;
  width: 137px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .rectangle-2 {
  align-self: stretch;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 559px;
  margin-top: -44px;
  position: relative;
  width: 100%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-13 {
  color: var(--international-orange);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 25px;
  font-weight: 900;
  left: calc(50.00% - 131px);
  letter-spacing: -1.25px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 308px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .fish {
  height: 242px;
  left: 234px;
  position: absolute;
  top: 421px;
  width: 155px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .mca31-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 228px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .x1 {
  height: 40px;
  left: 71px;
  position: absolute;
  top: 202px;
  transform: rotate(180deg);
  width: 84px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .vector {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 99.99%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-14 {
  height: 50.00%;
  left: 6.93%;
  line-height: normal;
  position: absolute;
  top: 25.00%;
  transform: rotate(180deg);
  width: 82.35%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .span0 {
  letter-spacing: -0.30px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .span1 {
  letter-spacing: -0.18px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .chicken {
  height: 277px;
  left: 42px;
  position: absolute;
  top: 421px;
  width: 163px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 228px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .x1-1 {
  height: 77px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 184px;
  transform: rotate(-133.91deg);
  width: 78px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .vector-1 {
  height: 67.45%;
  left: -8.00%;
  position: absolute;
  top: 17.79%;
  transform: rotate(133.91deg);
  width: 115.13%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-15 {
  height: 26.03%;
  left: 28.64%;
  letter-spacing: -1.09px;
  line-height: normal;
  position: absolute;
  top: 26.99%;
  transform: rotate(133.91deg);
  width: 60.37%;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .span0-1 {
  letter-spacing: -0.12px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .span1-1 {
  color: var(--cerise);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 8.2px;
  font-weight: 700;
  letter-spacing: -0.07px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .x34_ {
  background-image: url(../img/vector-7.svg);
  background-size: 100% 100%;
  height: 38px;
  left: calc(50.00% - 141px);
  position: absolute;
  top: 368px;
  width: 282px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .gf_c_f-1 {
  aspect-ratio: 0.68;
  height: 50px;
  left: 314px;
  object-fit: cover;
  position: absolute;
  top: 347px;
  width: 73px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 100px;
  position: absolute;
  top: 678px;
  width: 241px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .frame-34 {
  align-items: center;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  gap: 10px;
  height: 26px;
  justify-content: center;
  padding: 1px 12px;
  position: relative;
  width: 168px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-16 {
  color: var(--international-orange);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.12px;
  line-height: 18px;
  margin-left: -2.00px;
  margin-right: -2.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .x2kg800 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .group-8 {
  height: 56px;
  margin-right: -2.00px;
  position: relative;
  width: 243px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .rectangle-5 {
  background-color: var(--international-orange);
  border-radius: 85.91px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 241px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .vector-1-1 {
  height: 17px;
  left: 206px;
  position: absolute;
  top: 20px;
  width: 10px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-17 {
  color: var(--white);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 21.5px;
  font-weight: 900;
  left: 60px;
  letter-spacing: 1.07px;
  line-height: normal;
  position: absolute;
  top: 10px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .view {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-18 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .vector-1-2 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.u12381u12435u12394u39164u12356u20027u12373u12435u12398u12383u12417u12395u12290 .text-19 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}
