/* screen - u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 */

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 {
  background-color: #ebe5df;
  min-height: 959px;
  min-width: 440px;
  position: relative;
  width: 100%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .frame-35 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  display: flex;
  height: 451px;
  left: 24px;
  position: absolute;
  top: 326px;
  width: 393px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .rectangle-3 {
  border: 1px dashed;
  border-color: #b0d4e4;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 437px;
  margin-left: 5px;
  margin-top: 7px;
  width: 382px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .body {
  align-items: flex-start;
  display: inline-flex;
  gap: 18px;
  left: calc(50.00% - 138px);
  position: absolute;
  top: 454px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .icon {
  height: 248px;
  position: relative;
  width: 21px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .text {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: 25px;
  margin-top: -1.00px;
  position: relative;
  width: 250px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .view {
  height: 188px;
  left: 161px;
  position: absolute;
  top: 86px;
  width: 247px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .view-1 {
  height: 172px;
  left: 6px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  transform: rotate(4.04deg);
  width: 233px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector {
  height: 92.83%;
  left: 2.80%;
  top: 5.70%;
  width: 96.08%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-1 {
  height: 26.50%;
  left: 17.01%;
  top: 73.85%;
  width: 55.35%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-2 {
  height: 41.63%;
  left: 0;
  top: 33.45%;
  width: 13.14%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-3 {
  height: 18.03%;
  left: 15.33%;
  top: 6.76%;
  width: 28.68%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-4 {
  height: 41.80%;
  left: 56.35%;
  top: 0;
  width: 35.39%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-5 {
  height: 38.24%;
  left: 74.86%;
  top: 45.91%;
  width: 22.65%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .title {
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 16.1px;
  font-weight: 700;
  left: calc(50.00% - 70px);
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 74px;
  transform: rotate(4.04deg);
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .frame-82 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 99px;
  left: 43px;
  position: absolute;
  top: 554px;
  width: 354px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .line-2 {
  margin-top: -1.00px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .adobe-stock_306678087-2 {
  aspect-ratio: 0.83;
  height: 177px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 243px;
  width: 146px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .view-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .text-20 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-1-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .text-21 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u35519u12408u12441u12428u12399u12441u35519u12408u12441u12427u12411u12392u12441u12289u8232u12431u12363u12425u12394u12367u12394u12427u12290 .vector-6 {
  position: absolute;
  transform: rotate(-4.04deg);
}
