/* screen - voice */

.voice {
  background-color: var(--bridal-heath);
  min-height: 959px;
  min-width: 440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.voice .slider {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 57px;
  position: absolute;
  top: 741px;
  width: 326px;
}

.voice .frame-9 {
  align-items: center;
  background-color: var(--international-orange);
  border-radius: 18px;
  display: flex;
  gap: 10px;
  height: 36px;
  padding: 12px 14px;
  position: relative;
  width: 36px;
}

.voice .vector-1 {
  margin-left: -1.08px;
}

.voice .frame-10 {
  align-items: center;
  background-color: var(--international-orange);
  border-radius: 18px;
  display: flex;
  gap: 10px;
  height: 36px;
  justify-content: flex-end;
  padding: 12px 14px;
  position: relative;
  width: 36px;
}

.voice .vector-2 {
  margin-right: -1.08px;
}

.voice .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 42px;
  position: absolute;
  top: 101px;
  width: 357px;
}

.voice .voice-1 {
  align-self: stretch;
  letter-spacing: 0.70px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.voice .h1 {
  letter-spacing: 1.80px;
  line-height: normal;
  margin-left: -20.00px;
  margin-right: -20.00px;
  position: relative;
  text-align: center;
  width: 397px;
}

.voice .text {
  align-self: stretch;
  color: #565656;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 27px;
  position: relative;
  text-align: center;
}

.voice .main_01 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 372px;
  left: 57px;
  position: absolute;
  top: 348px;
  width: 326px;
}

.voice .frame-48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 25px;
  position: absolute;
  top: 54px;
  width: 276px;
}

.voice .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.voice .h2 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.20px;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
}

.voice .line-5 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.voice .text-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 206px;
  position: relative;
  width: 100%;
}

.voice .text-22 {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 206px;
  letter-spacing: 0.16px;
  line-height: 25px;
  margin-top: -1.00px;
  position: relative;
}

.voice .span {
  letter-spacing: 0.03px;
}

.voice .span1 {
  color: var(--international-orange);
  font-weight: 700;
  letter-spacing: 0.03px;
}

.voice .text-23 {
  align-self: stretch;
  color: #b8b8b8;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 27px;
  position: relative;
}

.voice .adobe-stock_597728445-1 {
  aspect-ratio: 1.79;
  height: 83px;
  left: calc(50.00% - 75px);
  object-fit: cover;
  position: absolute;
  top: 269px;
  width: 150px;
}

.voice .text-24 {
  color: #565656;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 12px;
  font-weight: 500;
  left: calc(50.00% - 129px);
  letter-spacing: -0.12px;
  line-height: 18px;
  position: absolute;
  top: 787px;
}

.voice .cta_02 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 110px;
  justify-content: center;
  left: 0;
  padding: 2px 31px;
  position: absolute;
  top: 849px;
  width: 440px;
}

.voice .mca28-12kg_2800-1 {
  aspect-ratio: 0.56;
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.voice .view {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--international-orange);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 1px 16px;
  position: relative;
  width: 177px;
}

.voice .text-25 {
  letter-spacing: 0.49px;
  line-height: 18.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.voice .vector-1-1 {
  height: 10.43px;
  margin-right: -0.87px;
  position: relative;
  width: 6.08px;
}

.voice .text-26 {
  letter-spacing: 0.70px;
  line-height: normal;
  margin-right: -1.80px;
  position: relative;
  width: fit-content;
}

/* Carousel cards 2, 3, 4 */
.voice .main_02,
.voice .main_03,
.voice .main_04 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 372px;
  left: 57px;
  position: absolute;
  top: 348px;
  width: 326px;
  z-index: 1;
}

.voice .main_02 .frame-48,
.voice .main_03 .frame-48,
.voice .main_04 .frame-48 {
  left: 25px;
  position: absolute;
  top: 54px;
  width: 276px;
}

.voice .main_02 .h2,
.voice .main_03 .h2,
.voice .main_04 .h2 {
  margin-top: 0;
}

.voice .voice-divider {
  align-self: stretch;
  height: 2px;
  background-color: var(--international-orange);
  width: 100%;
}

.voice .voice-stars {
  color: var(--international-orange);
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1;
  position: absolute;
  top: 25px;
  left: 25px;
}

.voice .frame-9,
.voice .frame-10 {
  cursor: pointer;
}

.voice .rectangle {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0000000d;
  height: 372px;
  position: absolute;
  top: 348px;
  width: 326px;
}

.voice .vector {
  height: 13px;
  margin-bottom: -0.50px;
  margin-top: -0.50px;
  position: relative;
  width: 7.58px;
}
